<!-- Footer -->
<div class="row">
    <footer class="" style="text-align: center; margin-top:10px; background-color:#363636; color: #FFF;">
        <div class="" style="width:100%">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-5">
                        {% if page.language == "albanian" %}
                            <h4>Rreth Mozaik-ut të Kosovës:</h4>
                            <p>Mozaik-u i Kosovës mat nivelin e kënaqshmërisë së kosovarëve me shërbimet publike dhe autoritetet e pushtetit lokal çdo tre vite, që nga viti 2003. Hulumtimi bazohet në mostër përfaqësuese të popullsisë së Kosovës, përfshirë edhe në nivelin komunal, duke intervistuar mbi 6,200 ekonomi familjare në mbarë Kosovën.</p>
                        {% elsif page.language == "serbian" %}
                            <h4>O Kosovskom Mozaiku</h4>
                            <p>Mozaik Kosova meri nivo zadovoljstva sa javnim službama i opštinama svake tri godine od 2003. Radi se na osnovu reprezentativnog uzorka kosovske populacije, uključujući opštinski nivo, sa intervjuima od preko 6, 200 domaćinstava širom Kosova.</p>
                        {% else %}
                            <h4>About the Kosovo Mosaic</h4>
                            <p>The Kosovo Mosaic has been measuring Kosovans' satisfaction with public services and local government authorities every three years since 2003. It is based on a representative sample of Kosovan population, including at the municipality level, interviewing more than 6,200 households across Kosovo.</p>
                        {% endif %}

                    </div>
                    <div class="footer-col col-md-3">
                        <br>
                        <h4>Follow us</h4>
                        <!-- Twitter -->
                        <a href="https://twitter.com/UNDP_Kosovo" data-toggle="tooltip" title="Twitter" target="_blank" class="share-btn twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/UNDP.Kosovo" data-toggle="tooltip" title="Facebook" target="_blank" class="share-btn facebook">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <!-- Page -->
                        <a href="http://www.ks.undp.org/content/kosovo/en/home.html" data-toggle="tooltip" title="UNDP Kosovo" target="_blank" class="share-btn home">
                            <i class="fa fa-home"></i>
                        </a>
                        <br><br>
                    </div>
                    <div class="footer-col col-md-4">
                        <!-- <h4>UNDP Kosovo</h4> -->
                        <div class="row">
                            <!-- <div class="col-xs-6">
                                <a href="http://opendatakosovo.org/" target="_blank"><img src="static/images/open-data-kosovo-logo.png" alt="" class="partner-img img-responsive"></a>
                            </div> -->
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6">
                                <a href="http://www.undp.org/content/kosovo/en/home.html" target="_blank"><img src="../static/images/undp-logo.png" alt="" class="partner-img img-responsive"></a>
                            </div>
                            <div class="col-xs-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>