<!-- Facebook Open Graph tags -->
<meta property="og:title" content="Kosovo Mosaic Visualizer" />
<meta property="og:site_name" content="Kosovo Mosaic Visualizer"/>
<meta property="og:image" content="http://assemblio.github.io/kosovo-mosaic-visualizer/static/images/kosovo-mosaic-share-image-1.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://assemblio.github.io/kosovo-mosaic-visualizer/" />
<meta property="fb:app_id" content="966242223397117"/>
<meta property="og:description" content="The Mosaic Survey has been assessing citizens’ perceptions of public services and local authorities in Kosovo every three years since 2003. It is based on a representative sample of Kosovan population and interviews with individuals aged 18 years and older. " />

<!-- Twitter card tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@UNDP_Kosovo">
<meta name="twitter:description" content="The Mosaic Survey has been assessing citizens’ perceptions of public services and local authorities in Kosovo every three years since 2003. It is based on a representative sample of Kosovan population and intervievallaws with individuals aged 18 years and older. ">
<meta name="twitter:title" content="Kosovo Mosaic Visualizer">
<meta name="twitter:creator" content="@assemblio">
<meta name="twitter:image" content="http://assemblio.github.io/kosovo-mosaic-visualizer/static/images/kosovo-mosaic-share-image-1.png">